/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*global rules*/

body{
  width: 90%;
  margin: auto;
  font-family: times, serif;
}

*{
  margin: 0;
}

html{
  height: 100%;
}

figure, img{
  width: 100%;
  margin: 0;
}

/*comun rules*/

.desktop, .header2, .chauss ul,
.end1 article:nth-child(5),
.end1 article:nth-child(6){
  display: none;
}

a{
  color: inherit;
  text-decoration: none;
}

/*header*/

.header1{
  width: 100%;
}

.desktop a:hover{
  background: white;
  border-radius: 4px;
  padding: 6px 10px;
}

.header1 figure{
  width: 45%;
  height: 100%;
}

.header1{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  position: fixed;
  background: white;
  top: 0;
}

.down{
  display: none;
}

.mobtab figure{
  width: 20%;
}

h1{
  margin-top: 15%;
  font-family: times;
  width: 100%;
}

.size{
  width: 100%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.line a, .linee a{
  text-decoration: none;
  font-size: 12px;
}

.line a{
  color: grey;
}

.linee a, .line a:hover{
  color: #eee;
}

.line{
  background: #eee;
}

.linee, .line:hover{
  background: grey;
}

.line, .linee{
  margin: 0 5px 10px 0;
  width: 60px;
  border-radius: 4px;
  padding: 3px;
}

.chaussettes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.chauss{
  margin: 20px 0;
  font-family: times, serif;
  width: 150px;
}

.chauss h3{
  font-style: italic;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

.chauss p{
  text-align: center;
  background: #eee;
  width: 50px;
  float: right;
  border-radius: 4px;
  color: grey;
  font-size: 12px;
  padding: 3px;
}

@media (min-width: 490px) {

  .header1 figure{
    width: 30%;
    height: 100%;
  }

  .mobtab figure{
    width: 18%;
  }

  .chauss{
    width: 220px;
  }

  .end1 article:nth-child(5),
  .end1 article:nth-child(6){
    display: flex;
  }

  .end1{
    justify-content: center;
  }

  .end1 article{
    display: flex;
    flex-direction: row;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: 1px lightgrey solid;
    background: #eed;
  }

  .end1 figure{
    width: 30%;
  }

  .pag p{
    text-align: inherit;
    font-size: 13px;
  }
}

@media (min-width: 630px) {

  .chauss{
    width: 250px;
  }
}
